<div class="hero-unit">
	<h1>Welcome to Fiveaside</h1>
	<p>
		You've just landed to your sport's life manager!
	</p>
	<p>
		<%= link_to "One month rails", "http://google.com" %>
	</p>
	<p>
		<a href ="#" class="btn btn-primary btn-large">Sign up now</a>
	</p>
</div>